@import url("https://fonts.cdnfonts.com/css/qanelas");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Qanelas", sans-serif;
}

body {
  background: #1e2538;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 40px;
  margin: 0 auto;
  text-align: center;
}

header {
  width: 100%;
  padding: 20px 40px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img {
      cursor: pointer;
      width: 130px;
      height: 31px;
    }
    .socials {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      a {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        position: relative;
        transition: 0.7s ease;
        &:hover {
          background-color: black;
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .center {
    nav {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transition: 1s ease;
        li {
          list-style-type: none;
          transition: 1s ease;
          border-radius: 5px;
          padding: 8px 10px;
          &:hover {
            background-color: black;
          }
          a {
            color: #fff;
            font-size: 17px;
            font-weight: 700;
            text-decoration: none;
          }
        }
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    a {
      .search {
        width: 55px;
        height: 52px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s ease;
        &:hover {
          background-color: black;
        }
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
    .btn-donate {
      --clr-font-main: hsla(0 0% 20% / 100);
      --btn-bg-1: hsla(194 100% 69% / 1);
      --btn-bg-2: hsla(217 100% 56% / 1);
      --btn-bg-color: hsla(360 100% 100% / 1);
      --radii: 0.5em;
      cursor: pointer;
      padding: 0.9em 1.4em;
      width: 138px;
      height: 53px;
      font-size: var(--size, 1rem);
      font-family: "Segoe UI", system-ui, sans-serif;
      font-weight: 500;
      transition: 0.8s;
      background-size: 280% auto;
      background-image: linear-gradient(
        325deg,
        var(--btn-bg-2) 0%,
        var(--btn-bg-1) 55%,
        var(--btn-bg-2) 90%
      );
      border: none;
      border-radius: var(--radii);
      color: var(--btn-bg-color);
      box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5),
        0px 5px 5px -1px rgba(58, 125, 233, 0.25),
        inset 4px 4px 8px rgba(175, 230, 255, 0.5),
        inset -4px -4px 8px rgba(19, 95, 216, 0.35);
    }

    .btn-donate:hover {
      background-position: right top;
    }

    .btn-donate:active {
      box-shadow: 0 3px 20px hsla(194 100% 69% / 1);
    }

    @media (prefers-reduced-motion: reduce) {
      .btn-donate {
        transition: linear;
      }
    }
  }
}
.mainBg {
  transition: 2s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      color: #fff;
      font-size: 65px;
      font-weight: 900;
    }
    .line {
      width: 50px;
      height: 2px;
      background-color: white;
      border-radius: 20px;
    }
    .genres {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      a {
        border-radius: 5px;
        transition: 1s ease;
        text-decoration: none;
        padding: 8px 10px;
        &:hover {
          background-color: black;
        }
        p {
          color: rgba(255, 255, 255, 0.35);
          font-size: 18px;
          font-weight: 700;
          transition: 1s ease;
          text-transform: capitalize;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  .movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    text-transform: capitalize;

    div {
      width: 100%;
      text-align: left;
      position: relative;
      img {
        width: 100%;
        height: 90%;
        border-radius: 14px;
      }
      .ratingBlock {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 62px;
        height: 33px;
        border-radius: 5px;
        background: #89cb36;
        display: flex;
        justify-content: center;
        align-items: center;
        .rating {
          color: #fff;
          font-size: 18px;
          font-weight: 700;
        }
      }
      .title {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
      }
      .genre {
        color: #f2f60f;
        font-size: 15px;
        font-weight: 400;
      }
      .hoverBlock {
        z-index: 10;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(54, 87, 203, 0.65);
        opacity: 0.9;
        height: 90%;
        border-radius: 14px;
        justify-content: center;
        align-items: center;
        button {
          width: 224px;
          height: 71px;
          border-radius: 10px;
          background: #fff;
          box-shadow: 0 0 5px white;
          border: none;
          &:hover {
            opacity: 0.9;
          }
          &:active {
            box-shadow: 0 2px 5px white;
          }
        }
      }
    }
  }
  .btn-show-all {
    margin: 30px 0;
    width: 200px;
    height: 71px;
    border-radius: 14px;
    border: 2px solid #fff;
    color: #fff;
    background: none;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 0 5px white;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      box-shadow: 0 2px 5px white;
    }
  }
  .sec1 {
    .top {
      a {
        padding: 8px 10px;
        border-radius: 5px;
        transition: 1s ease;
        text-decoration: none;
        &:hover {
          background-color: black;
        }
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          p {
            color: #fff;
            font-size: 22px;
            font-weight: 700;
          }
          img {
            width: 30px;
          }
        }
      }
    }
    #mainFrame {
      margin: 50px 0;
      width: 100%;
      height: 100%;
      min-height: 700px;
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 100px;
      .left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .title {
          color: #fff;
          font-size: 45px;
          font-weight: 900;
        }
        .socials {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          a {
            text-decoration: none;
            transition: 1s ease;
            padding: 5px;
            border-radius: 5px;
            &:hover {
              background-color: black;
            }
            img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
      .right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        div {
          cursor: pointer;
          width: 58px;
          height: 58px;
          border-radius: 5px;
          background: #1b2133;
          transition: 1s ease;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: black;
          }
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
  .sec2 {
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      .title {
        color: #fff;
        font-size: 65px;
        font-weight: 900;
      }
      .line {
        width: 50px;
        height: 2px;
        border-radius: 10px;
        background-color: white;
      }
      .years {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        a {
          padding: 5px;
          border-radius: 5px;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.35);
          font-size: 18px;
          font-weight: 700;
          &:hover {
            background-color: black;
          }
        }
      }
    }
    .bottom {
      .swiper {
        width: 100%;
        height: 100%;
        min-height: 500px;
        .swiper-slide {
          margin-bottom: 40px;
          height: 100%;
          div {
            width: 100%;
            text-align: left;
            position: relative;
            img {
              width: 100%;
              height: 90%;
              border-radius: 14px;
            }
            .ratingBlock {
              position: absolute;
              top: 10px;
              right: 10px;
              width: 62px;
              height: 33px;
              border-radius: 5px;
              background: #89cb36;
              display: flex;
              justify-content: center;
              align-items: center;
              .rating {
                color: #fff;
                font-size: 18px;
                font-weight: 700;
              }
            }
            .title {
              color: #fff;
              font-size: 18px;
              font-weight: 700;
            }
            .genre {
              color: #f2f60f;
              font-size: 15px;
              font-weight: 400;
            }
            .hoverBlock {
              z-index: 10;
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              background: rgba(54, 87, 203, 0.65);
              opacity: 0.9;
              height: 95%;
              border-radius: 14px;
              justify-content: center;
              align-items: center;
              button {
                width: 224px;
                height: 71px;
                border-radius: 10px;
                background: #fff;
                box-shadow: 0 0 5px white;
                border: none;
                &:hover {
                  opacity: 0.9;
                }
                &:active {
                  box-shadow: 0 2px 5px white;
                }
              }
            }
          }
        }
      }
    }
  }
  .sec3 {
    margin: 100px 0;
    .top {
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        color: #fff;
        font-size: 65px;
        font-weight: 900;
      }
      .moments {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        a {
          border-radius: 5px;
          padding: 8px 10px;
          text-decoration: none;
          color: #6d717d;
          font-size: 18px;
          font-weight: 700;
          transition: 1s ease;
          &:hover {
            background-color: black;
          }
        }
      }
    }
    .bottom {
      width: 100%;
      min-height: 500px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
      div {
        width: 100%;
        height: 500px;
        border-radius: 14px;
        background-color: #6d717d;
      }
    }
  }
  .sec4 {
    margin-bottom: 100px;
    .top {
      display: flex;
      justify-content: start;
      align-items: start;
      .title {
        color: #fff;
        font-size: 65px;
        font-weight: 900;
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
      min-height: 500px;
      .swiper-slide {
        margin-bottom: 40px;
        height: 100%;
        div {
          width: 100%;
          text-align: left;
          position: relative;
          img {
            width: 100%;
            height: 90%;
            border-radius: 14px;
          }
          .ratingBlock {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 62px;
            height: 33px;
            border-radius: 5px;
            background: #89cb36;
            display: flex;
            justify-content: center;
            align-items: center;
            .rating {
              color: #fff;
              font-size: 18px;
              font-weight: 700;
            }
          }
          .title {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
          }
          .genre {
            color: #f2f60f;
            font-size: 15px;
            font-weight: 400;
          }
          .hoverBlock {
            z-index: 10;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: rgba(54, 87, 203, 0.65);
            opacity: 0.9;
            height: 95%;
            border-radius: 14px;
            justify-content: center;
            align-items: center;
            button {
              width: 224px;
              height: 71px;
              border-radius: 10px;
              background: #fff;
              box-shadow: 0 0 5px white;
              border: none;
              &:hover {
                opacity: 0.9;
              }
              &:active {
                box-shadow: 0 2px 5px white;
              }
            }
          }
        }
      }
    }
  }
}

.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.flex {
  display: flex !important;
}
